# Python bytecode files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
plantscan/

# Static files (uploads)
static/uploads/

# Logs and temporary files
*.log
*.tmp

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/